img {
  max-width: 100%;
  max-height: 100%;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

.fill {
  object-fit: fill;
}



/* Remove border-radiius from full-width images */
img:not(.w-100) {
  border-radius: var(--border-radius);
}
