<!doctype html>
<html lang="{{ $.Site.Language.Lang }}" class="{{ if (eq .Type "shop" "sinthome") }} theme-dark {{ end }}">
  {{ partial "head" . }}
  <body class="{{ if (eq .Type "process") }}h-full{{ end }}">

    {{ block "header" . }}{{ partial "marquee" . }}{{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "nav" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>
