{{ define "main" }}
    <section class="shop-wrapper">
      <div class="shop">
        <div class="shop-text">
          <h1>{{ .Params.heading }}</h1>
          <div class="shop-description hide-sm">
            {{ .Params.description | markdownify }}
          </div>
          {{ with .Params.link }}
            <div class="shop-link hide-sm">
              <a href="{{ .url }}" class="line-bottom">{{ .label }}</a>
            </div>
          {{ end }}
        </div>
        <div class="shop-grid">
          {{ range where (where .Site.Pages "Type" "sinthome") "Params.title" "!=" nil }}
          <div class="product-teaser">
            <a class="product-link" href="{{ .Permalink }}">
              <!-- <div class="product-images"> -->
                {{ range first 1 .Params.images }}
                <img class="product-image" data-blink-src="{{ .image.image }}" />
                {{ end }}
              <!-- </div> -->
            </a>
            <div class="product-name">
              <h4>{{ .Params.title }}</h4>
            </div>
          </div>
          {{ end }}
        </div>
        <div class="shop-text hide-md">
          <div class="shop-description hide-md">
            {{ .Params.description | markdownify }}
          </div>
        </div>
      </div>
    </section>
{{ end }}
