{{ define "main" }}
    <section class="shop-wrapper">
      <h1>{{ .Params.heading }}</h1>
      <div class="shop">
        <div class="shop-text">
          {{ .Params.description | markdownify }}
          {{ with .Params.link }}
            <div class="shop-link">
              <a href="{{ .url }}" class="line-bottom">{{ .label }}</a>
            </div>
          {{ end }}
        </div>
        <div class="shop-grid">
          {{ range after 1 (where .Site.Pages "Type" "sinthome")}}
          <div class="product-teaser">
            <a class="product-link" href="{{ .Permalink }}">
              <div class="product-images">
                {{ range .Params.images }}
                <img data-blink-src="{{ .img.image }}" />
                {{ end }}
              </div>
            </a>
            <div class="product-name">
              <h4>{{ .Title }}</h4>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
{{ end }}
