@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300&display=swap");

@font-face {
  font-family: Gulax;
  font-style: normal;
  src: url("/../fonts/Gulax-Regular.woff2") format("woff2"),
    url("/../fonts/Gulax-Regular.woff") format("woff"),
    url("/../fonts/Gulax-Regular.eot");
}
