@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

@font-face {
  font-family: Gulax;
  font-style: normal;
  src: url("/../fonts/Gulax-Regular.woff2") format("woff2"),
    url("/../fonts/Gulax-Regular.woff") format("woff"),
    url("/../fonts/Gulax-Regular.eot");
}

// @font-face {
//   font-family: HKGrotesk;
//   font-style: normal;
//   src: url("../fonts/HKGrotesk-Medium.woff2") format("woff2"),
//     url("../fonts/HKGrotesk-Medium.woff") format("woff"),
//     url("../fonts/HKGrotesk-Medium.eot");
// }

// @font-face {
//   font-family: "HK Grotesk";
//   font-style: italic;
//   src: url("../fonts/HKGrotesk-MediumItalic.woff2") format("woff2"),
//     url("../fonts/HKGrotesk-MediumItalic.woff") format("woff"),
//     url("../fonts/HKGrotesk-MediumItalic.eot");
// }

// @font-face {
//   font-family: "HK Grotesk";
//   font-style: bold;
//   src: url("../fonts/HKGrotesk-SemiBold.woff2") format("woff2"),
//     url("../fonts/HKGrotesk-SemiBold.woff") format("woff"),
//     url("../fonts/HKGrotesk-SemiBold.eot");
// }

// @font-face {
//   font-family: "HK Grotesk";
//   font-style: light;
//   src: url("../fonts/HKGrotesk-Regular.woff2") format("woff2"),
//     url("../fonts/HKGrotesk-Regular.woff") format("woff"),
//     url("../fonts/HKGrotesk-Regular.eot");
// }
