// Breakpoints --------------------------------------
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}

// Heights

// Height Variable ---------------
@include breakpoint(phablet) {
  $h-top: 80px;
}

@mixin h-full($top) {
  @if $top == 80px {
    height: calc(100vh - 80px - $h-bottom);
  } @else if $top == 50px {
    height: calc(100vh - 50px - $h-bottom);
  }
}
