// Colors --------------------------------------
$color-light: #dddad1;
$color-dark: #505342;
$color-mid: #7b8065;
$color-accent: #9ab108;
$color-black: #292928;

// Typography --------------------------------------
$font-body: Public Sans, "Helvetica Neue", Inter, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  sans-serif;
$font-heading: Gulax, "Helvetica Neue", Inter, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;

// Heights --------------------------------------
$h-full: calc(100vh - 80px - 50px); // based on h-top and h-bottom
$h-100: 100vh;
$h-top: 50px; // mobile size redefined in marquee
$h-bottom: 50px;

// Transitions ----------------------------------
$transition: all 300ms 200ms;

// Spacing --------------------------------------
$sp1: 1em;
$sp2: 1.5em;
$sp3: 2em;
$sp4: 2.5em;
$sp5: 3em;
