.contact {
  height: 150%;
  .contact-info {
    z-index: 2;
    margin: $sp3;
    margin-top: $h-top;
    margin-bottom: calc(2em + 50px);
    padding: $sp3;
    background-color: $color-gray;
  }

  .contact-image {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.contact {
  @include breakpoint(mobileonly) {
    height: 170%;
    .contact-info {
      height: fit-content;
    }
  }
  @include breakpoint(tablet) {
    height: 140%;
    display: flex;
    justify-content: space-between;
    > * {
      width: 42vw;
      max-width: 50vw;
    }
    .contact-info {
      position: static;
      margin-left: 0;
      margin-right: 0;
      height: 100%;
    }
    .contact-image {
      top: 0;
      right: 0;
    }
  }
}
