.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  // height: calc(100vh - 50px);
  position: sticky;
  top: $h-top;
  background-color: $color-gray;
}

.left,
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    padding: $sp3;
  }
}
.fixed-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: $color-white;

  &.bottom {
    top: 80%;
  }

  &.line-bottom {
    border-bottom: 1px $color-accent solid;
    padding: 0.5em 3em;
  }
  .line-left {
    width: 200px;
    height: 1px;
    background-color: $color-accent;
    margin-left: 0.5em;
    margin-bottom: 0.3em;
    display: inline-block;
  }
}
.full-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.text {
  height: $h-full;
}

// Media ------------------

@include breakpoint(mobileonly) {
  .container {
    flex-direction: column;
    position: relative;
    height: 100%;
  }

  .left,
  .right {
    width: 100%;
    position: sticky;
    top: $h-top;
    height: 100vh;

    p {
      padding: $sp2;
    }
  }

  .right {
    background-color: inherit;
  }
  .fixed-center {
    top: 25%;
    &.line-bottom {
      width: max-content;
      padding: 0;
      top: 75%;

      a {
        font-size: 1.25rem;
        font-family: $font-heading;
        background-color: $color-accent;
        padding: 0.8em 1em;
        padding-bottom: 0.7em;
        &:hover,
        &:active {
          background-color: darken($color-accent, 10%);
          color: inherit;
        }
      }
    }
    &.bottom {
      top: 90%;
      width: max-content;
    }
    .line-left {
      width: 100px;
    }
  }
}
