.w-40 {
  width: 40vw;
}

.process {
  h1 {
    padding-left: 2rem;
    z-index: 999;
  }

  section {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 0 $sp3;
    padding-bottom: $sp3;
  }

  img {
    width: 40vw;
    height: auto;
  }

  p {
    max-width: 50vw;
    // position: absolute;

    // &:first-child {
    //   top: 0;
    // }
    // &:nth-child(2) {
    //   bottom: 0;
    // }
  }

  // .section {

  //   &--01 {
  //     display: flex;
  //     margin: -8em $sp5;
      
  //     .left {
  //       position: relative;
        
  //       p {
  //         position: absolute;
  //         top: 0;
  //         z-index: 1;
  //         left: 40%;
  //       }
  //     }
  //   }
  // }
  
}