.product {
  margin-top: 50px;
  display: flex;
  position: relative;
  justify-content: space-between;
  .product-images {
    width: 68%;
    > img {
      width: 100%;
      object-fit: cover;
    }
    img:nth-child(2) {
      display: none;
    }
  }
  .product-info {
    width: 30%;
    margin-left: auto;
    position: sticky;
    top: 80px;
    height: 100%;
  }
  .product-description {
    font-size: 0.875rem;
    margin-top: 1rem;
  }
}

@include breakpoint(mobileonly) {
  .product {
    margin: 0;
    flex-direction: column;
    position: relative;
    .product-images {
      width: 100vw;
      height: auto;
      > img {
        margin: 0;
      }
    }
    .product-info {
      width: 100%;
      max-width: calc(100vw - 32px);
      height: auto;
      position: fixed;
      top: auto;
      bottom: 0;
      padding: 1em;
      padding-bottom: 58px;
      background-color: transparentize(black, 0.5);
      h1 {
        margin: 0;
      }
    }
    .product-buy {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .btn {
      min-width: auto;
      padding-left: 1em;
      padding-right: 1em;
      margin: 0;
    }
  }
}

@include breakpoint(phablet) {
  .product {
    margin-top: 80px;
  }
}
