.shop-wrapper {
  margin: $sp2 $sp1;
}
.shop {
  display: flex;
  flex-direction: column;
  .line-bottom {
    border-bottom: 1px $color-accent solid;
    padding: 0.25em 0;
  }
}

.shop-text {
  margin-bottom: $sp3;
}

.shop-link {
  margin-top: $sp1;
}

.shop-grid {
  display: flex;
  flex-wrap: wrap;

  .product-teaser {
    width: 150px;
    height: 200px;
    position: relative;
    margin: 4px;

    .product-link {
      &:hover .product-name, &:hover {
        opacity: 1;
      }
    }
  }
  .product-images {
    position: relative;
    width: 150px;
    > img {
      position: absolute;
      width: 150px;
      height: auto;
      object-fit: cover;
    }
  }
  .product-name {
    display: block;
    width: 150px;
    position: absolute;
    bottom: 0;
    pointer-events: none;
    h4 {
      margin: 0.5rem;
      text-transform: uppercase;
    }
  }
}

@include breakpoint(mobileonly) {
  .shop-wrapper {
    margin: 0;
    margin-bottom: 58px;
  }
  .shop-grid {
    .product-teaser {
      margin: 4px;
    }
  }
  .shop-text {
    margin: 2em 1em 0.5em;
    h1 { 
      margin-bottom: 0; 
    }
    .shop-description {
      font-size: 0.875rem;
    }
  }
}

@include breakpoint(phablet) {
  .shop-wrapper {
    margin: $sp3 $sp4;
    padding: 1em 0;
  }
  .shop {
    flex-direction: row;
    justify-content: space-between;
    > * {
      flex-basis: 45%;
    }
    .shop-text {
      position: sticky;
    }
    .shop-grid {
      margin: 1em;
    }
    .product-teaser:hover {
      &:hover .product-name {
        opacity: 1;
      }
    }
    .product-name {
      opacity: 0;
      transition: $transition;
      background-color: transparentize(black, 0.5);
      color: $color-light;
    }
  }
}
