.shop-wrapper {
  margin: $sp2 $sp1;
}
.shop {
  .line-bottom {
    border-bottom: 1px $color-accent solid;
    padding: 0.25em 0;
  }
}

.shop-text {
  margin-bottom: $sp3;
}

.shop-grid {
  display: flex;
  > * {
    flex-basis: calc(100% / 3);
  }

  .product-teaser {
    width: 150px;
    height: auto;
    position: relative;
    .product-link {
      height: 150px;
      width: 150px;
      &:hover .product-name {
        opacity: 1;
      }
    }
  }
  .product-link {
    width: 150px;
    height: auto;
    &:hover .product-name {
      opacity: 1;
    }
  }
  .product-images {
    position: relative;
    width: 150px;
    > img {
      position: absolute;
      width: 150px;
      height: auto;
      object-fit: cover;
    }
    img:nth-child(2) {
      display: none;
    }
  }
  .product-name {
    display: block;
    position: absolute;
    bottom: 0;
    h4 {
      margin: 0.5rem;
      text-transform: uppercase;
    }
  }
}

@include breakpoint(phablet) {
  .shop-wrapper {
    margin: $sp3 $sp4;
    padding: 1em 0;
  }
  .shop {
    display: flex;
    justify-content: space-between;
    > * {
      flex-basis: 45%;
    }
    .shop-grid {
      margin: 1em;
    }
    .product-teaser:hover {
      &:hover .product-name {
        opacity: 1;
      }
    }
    .product-name {
      opacity: 0;
      transition: $transition;
      width: 100%;
      background-color: transparentize($color-black, 0.5);
      color: $color-light;
    }
  }
}
