.topbar {
  display: flex;
  width: 100vw;
  height: 80px;
  position: fixed;
  background-color: inherit;
  top: 0;
  z-index: 999;
}
.logo {
  // display: none; // on homepage only
  object-fit: contain;
  height: 64px;
  width: 48px;
  padding: 0.5em;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  height: 80px;
  width: 100%;
}

.marquee-text {
  position: absolute;
  left: 80px;
  width: calc(100%-80px);
  height: 100%;
  margin: 0;
  line-height: 80px;
  text-align: center;
  -moz-transform: translate(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
