// Height Variable ---------------
@include breakpoint(phablet) {
  $h-top: 80px;
}

.topbar {
  display: flex;
  width: 100vw;
  height: $h-top;
  position: fixed;
  top: 0;
  z-index: 999;
}
.logo {
  object-fit: contain;
  height: 64px;
  width: 48px;
  padding: 0.5em;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  height: $h-top;
  width: 100%;
}

.marquee-text {
  position: absolute;
  color: $color-white;
  font-weight: 200;
  left: 80px;
  width: calc(100% - 80px);
  height: 100%;
  margin: 0;
  line-height: $h-top;
  text-align: center;
  -moz-transform: translate(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 20s linear infinite;
}

// Media ------------

@include breakpoint(mobileonly) {
  .marquee-text {
    font-size: 0.875rem;
  }
  .logo {
    height: 40px;
    width: 30px;
    padding: 0.3em;
  }
}

// Animation ------------

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
