.nav {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: $h-bottom;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: $color-dark;
  color: $color-light;

  .nav-item {
    font-family: $font-heading !important;
    text-transform: uppercase;

    &:hover,
    &:active {
      color: $color-accent;
    }
  }
}
