{{ define "main" }}
  {{ with .Params.intro }}
    <section class="container theme-light">
      <div class="left">
        <img
          class="full-image cover"
          data-blink-src="{{ .left.image }}"
          alt="{{ .left.alt }}"
        />
      </div>
      <div class="right">
        <img
          class="full-image"
          data-blink-src="{{ .right.image }}"
          alt="{{ .right.alt }}"
        />
      </div>
      <div class="fixed-center">
        <img data-blink-src="{{ .center }}" alt="" />
      </div>
    </section>
  {{ end }}
  {{ range .Params.content }}
      {{ with .section }}
      <section class="container theme-light-1">
        <div class="left">
          {{ with .image }}
            <img
              class="full-image cover"
              data-blink-src="{{ .image }}"
              alt="{{ .alt }}"
            />
          {{ end }}
        </div>
        {{ with .link }}
          <div class="fixed-center {{.placement}}">
            <a href="{{ .url }}">{{ .label }}</a>
            {{ if eq .line "Yes" }}
              <div class="line-left"></div>
            {{ end }}
          </div>
        {{ end }}
        <div class="right">
          {{ with .text }}
            <p class="{{ .color }}">{{ .text }}</p>
          {{ end }}
        </div>
      </section>
      {{ end }}
  {{ end }}
{{ end }}
